*.iml
.gradle
.idea/
.claude/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/app/build
/app/.gitignoreц
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Firebase credentials
app/google-services.json
